<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin GFA</title>
</head>
<body>
    <h1>Display GFAs Greater than or Equal to</h1>
    <form action = "/processAdminGFA" method="POST" id="gfa">
        <label><b>GPA:</b></label>
        <br>
        
        <input type="type" id="gpa" name="gpa">
       
        <br><br>
        <button id="submitApplication" type="submit">
            Submit Request
        </button>
    </form>
    
    <hr>
    <a href="/">HOME</a>   
</body>
</html>