<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Removed</title>
</head>
<body>
    <h1>Removal of All Applicants</h1>
    <div>
        All applications have been removed from the database. Number of applicants removed: <%- count %>
    </div>

    <br>
    <br>
    <a href="/">HOME</a>
    
</body>
</html>